html, body, table{

}

.gameBoard{
    background-color: light-gray;
}

.gameBoard td {
    width: 35px;
    background-color: #25383C;
    /*background-image: url("images/rickhead.jpg");*/
    background-size: 35px 35px;
}

#legend{
    height: 35px;
    width: 350px;
}

#parent {
    text-align: left;
    width: 350px;
    height: 175px;
    margin: 0 auto;
}

#parent table{
    width: 175px;
    height: 175px;
}

#parent td {
    width: 350px;
}

#shipStatus {
    float:left;
    width: 175px;
    height: 175px;
    padding-right: 0.5%;
}

#shipStatus td {
    background-image: url("images/poopyhead.png");
    background-size: 80%;
    background-repeat: no-repeat;
    border: none
}

#shipStatus tr {

}

}

#MyBoard {
    width: 175px;
    height: 175px;
    overflow: hidden;
}

#MyBoard td {
    background-size: 17px 17px;
}

#TheirBoard {
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

#TheirBoard td {
    height: 35px;
    background-size: 35px 35px;
}

.gameBoard table, th, td {
   border: 1px solid white;
}

body {
    font: 14px 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.4em;
    background-image: url("images/galaxy-of-ricks.jpg");
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
}

footer {
    background-color: #25383c;
    margin-top: 2%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    transition: all 0.3s ease 0s;
}

footer button {
    margin-left: 4px;
    margin-right: 4px;
    float: right;
}

footer span {
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}

img {
    margin-left: 0;
    margin-right: auto;
}

#rotateShipBtn{
    visibility: hidden;
}

/* Jake's styles */
whitetext {
    font: 16px 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    margin-left: auto;
    margin-right: 0;
    white-space:pre;
}

whitetext2 {
    font: 14px 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
}

whitetitle {
    font: 36px '', Verdana, sans-serif;
    color: white;
}
